.card-deck-lrm {
	.card-lrm {
		background-color: $navbar-lrm-color;

		.h1 {
			@include media-breakpoint-up(sm) {
				bottom: 0;
				font-size: 28px;
				position: absolute;
			}

			@include media-breakpoint-up(xl) {
				font-size: 32px;
			}

			font-weight: 700;
			padding: 0 10px 10px 34px;
		}
	}

	.card {
		margin-bottom: 20px;
	}

	// Fix temporal para contenedor de journal article
	> .journal-content-article {
		flex-grow: 1;
	}

	@each $name, $breakpoint in $grid-breakpoints {
		@media (min-width: $breakpoint) {
			.card,
			//temporal journal-content-article
			.journal-content-article {
				flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - 2px);
			}
		}
	}
}

.card-deck-lrm-3-items {
	@each $name, $breakpoint in $grid-breakpoints {
		@media (min-width: $breakpoint) {
			.card,
			//temporal journal-content-article
			.journal-content-article {
				flex: 0 0 calc(#{100/map-get($cards-per-line-list, $name)}% - 0px);
			}
		}
	}
}